<div align="center" ng-show="isLoading">
    <img src="~/Resources/Picture/loading.gif" align="center" />
</div>
<div class="row" ng-show="!isLoading">
    <h4></h4>
</div>
<div class="row" style="margin-top: 100px;" ng-show="!isLoading">
    <div class="row">
        <div class="col-md-3">
            <div class="form-inline">
                <label>Довжина (м):</label>
            </div>
            <div class="form-inline">
                <div class="row">
                    <div class="col-md-7">
                        <input style="width:150px;" class="form-control input-sm span2" id="filter-transport-length" type="text" />
                    </div>
                    <div class="col-md-5">
                        <span><button ng-click="dropFilter(filter,'TransportLength')" type="submit" class="btn btn-warning btn-xs"><i class="fa fa-close" aria-hidden="true"></i></button></span>
                    </div>
                </div>
            </div>
            <div class="form-inline">
                <label>Ширина(м):</label>
            </div>
            <div class="form-inline">
                <div class="row">
                    <div class="col-md-7">
                        <input style="width:150px;" class="form-control input-sm span2" id="filter-transport-width" type="text" />
                    </div>
                    <div class="col-md-5">
                        <span><button ng-click="dropFilter(filter, 'TransportWidth')" type="submit" class="btn btn-warning btn-xs"><i class="fa fa-close" aria-hidden="true"></i></button></span>
                    </div>
                </div>
            </div>
            <div class="form-inline">
                <label>Висота(м):</label>
            </div>
            <div class="form-inline">
                <div class="row">
                    <div class="col-md-7">
                        <input style="width:150px;" class="form-control input-sm span2" id="filter-transport-height" type="text" />
                    </div>
                    <div class="col-md-5">
                        <span><button ng-click="dropFilter(filter, 'TransportHeight')" type="submit" class="btn btn-warning btn-xs"><i class="fa fa-close" aria-hidden="true"></i></button></span>
                    </div>
                </div>
            </div>
            <div class="form-inline">
                <label>Вантажність(т):</label>
            </div>
            <div class="form-inline">
                <div class="row">
                    <div class="col-md-7">
                        <input style="width:150px;" class="form-control input-sm span2" id="filter-transport-weight" type="text" />
                    </div>
                    <div class="col-md-5">
                        <span><button ng-click="dropFilter(filter, 'TransportWeight')" type="submit" class="btn btn-warning btn-xs"><i class="fa fa-close" aria-hidden="true"></i></button></span>
                    </div>
                </div>
            </div>
            <div class="form-inline">
                <label>Об'єм(м3):</label>
            </div>
            <div class="form-inline">
                <div class="row">
                    <div class="col-md-7">
                        <input style="width:150px;" class="form-control input-sm span2" id="filter-transport-capacity" type="text" />
                    </div>
                    <div class="col-md-5">
                        <span><button ng-click="dropFilter(filter, 'TransportCapacity')" type="submit" class="btn btn-warning btn-xs"><i class="fa fa-close" aria-hidden="true"></i></button></span>
                    </div>
                </div>
            </div>
            <div class="form-inline">
                <label>Вміст стріли(м):</label>
            </div>
            <div class="form-inline">
                <div class="row">
                    <div class="col-md-7">
                        <input style="width:150px;" class="form-control input-sm span2" id="filter-transport-arrow" type="text" />
                    </div>
                    <div class="col-md-5">
                        <span><button ng-click="dropFilter(filter, 'TransportArrow')" type="submit" class="btn btn-warning btn-xs"><i class="fa fa-close" aria-hidden="true"></i></button></span>
                    </div>
                </div>
            </div>
            <div style="margin-top:10px;">
                <button ng-click="applyFilter()" type="submit" class="btn btn-success btn-xs"><i ng-show="filterLoading == true" class="fa fa-circle-o-notch fa-spin fa-fw"></i><i ng-show="!filterLoading" class="fa fa-filter" aria-hidden="true"></i>Застосувати</button>
            </div>
        </div>
        <div class="col-md-9" style="margin-top:20px;">
            <div class="row" ng-show="cooperations.length == 0">
                <div class="col-md-offset-5 btn-sm">
                    <h4>Немає даних</h4>
                </div>
            </div>
            <div class="media" ng-repeat="coop in cooperations">
                <div class="media-left">
                    <a href="/cooperation/{{coop.id}}">
                        <img class="media-object" style="width:200px;height:120px;" ng-src="{{pictures[coop.id] || '/Resources/Picture/empty_cooperation.jpg'}}" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{coop.title}}</h4>
                    <h5 class="media-heading">Адреса проживання: {{coop.residenceAddress}}</h5>
                    <h5 class="media-heading">Ціна: {{coop.workCost}}</h5>
                    <h5 class="media-heading">Модель транспорту: {{coop.carModel}}</h5>
                    <h5 class="media-heading">Дата створення: {{coop.createdOn}}</h5>
                    <div class="inline">
                        <button type="button" class="btn btn-success btn-xs" ng-click="acceptApplication(coop.id)"><i class="fa fa-check" style="margin-right: 8px;" aria-hidden="true"></i>Оформити</button>
                        <button ng-show="!isExistElementInTrash(coop.id, false)" type="button" class="btn btn-warning btn-xs" ng-click="moveIntoTrash(coop.id, coop.title)"><i class="fa fa-shopping-cart" style="margin-right: 8px;" aria-hidden="true"></i>В корзину</button>
                        <button ng-show="isExistElementInTrash(coop.id, false)" type="button" class="btn btn-warning btn-xs" ng-click="removeFromTrash(coop.id)"><i class="fa fa-trash" style="margin-right: 8px;" aria-hidden="true"></i>Видалити з корзини</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <i ng-show="isPartLoading" class="fa fa-refresh fa-spin fa-2x fa-fw col-md-offset-7"></i>
    <button style="margin-top:20px;" type="button" class="btn btn-primary col-md-offset-7 btn-sm" ng-click="loadMore()">Загрузити ще</button>
</div>
