<div align="center">
    <a style="margin-top:300px; margin-right:25px;" align="center" href="/coop_application" class="btn btn-primary btn-md"><i class="fa fa-truck" aria-hidden="true"></i> Заявка на співробітництво</a>
    <a style="margin-top:300px; margin-left:25px;" align="center" href="/trans_application" class="btn btn-primary btn-md"><i class="fa fa-cube" aria-hidden="true"></i> Заявка на перевезення</a>
</div>