<div align="center" ng-show="isLoading">
    <img src="~/Resources/Picture/loading.gif" align="center" />
</div>
<div class="row" ng-show="!isLoading">
    <h4></h4>
</div>
<!--<div class="row" style="margin-top: 100px;" ng-show="!isLoading">-->
    <div id="mapsContainer">
    </div>
<!--</div>-->
